<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VolumeBalancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VolumeBalancer.Properties.Settings>
            <setting name="mainFocusApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="balancePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hotkeyIncreaseFocusApplicationVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkeyIncreaseOtherApplicationVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkeyResetBalance" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkeyActivateMainFocusApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkeyActivateTemporaryFocusApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkeyResetAllVolumes" serializeAs="String">
                <value />
            </setting>
            <setting name="trayIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="balanceSystemSound" serializeAs="String">
                <value>False</value>
            </setting>
        </VolumeBalancer.Properties.Settings>
    </userSettings>
</configuration>